/* body{
    overflow: hidden;
} */

.nav-link {
    margin: 3px;
}

.dropdown-toggle{
    margin: 3px;
}

#search-param {
    margin: 3px;
}

.btn-outline-success {
    margin: 3px;
}

/* login button */
.loginbutton {
    border: 1px;
    
    border-color: red;
    
}


/* div {
    border-style: dashed;
    border-color: red;
    border-width: 1px;
} */

.donate-image-rc {
    height: auto;
    /* width: 100%; */
    margin: 3px;
    padding: 15px;
}

.donate-image-sp {
    height: 100px;
    width:  241px;
    margin: 3px;
    padding: 15px;
}

body {
    background-color:#c5c5c5;
}

.container {
    background-color: white;
    font-family: 'Asap', sans-serif;
}

nav {
    float: right;
}

#title-text {
    color: #ffffff;
    text-align: center;
    text-shadow: 2px 2px black;
}

#title-bkg {
    background-color: #444444;
    padding: 10px 0px 5px;
}

/* #trending-holder {
    /* border-right: 2px dotted gray; 
} */ 

/* footer {
    border-top: 5px solid #444444;
} */

/* footer>.row>.col-4 {
    padding: 10px;
} */

#mapsample {
    height: auto;
    width: 100%;
}

#youtube {
    float: center;
    /* position: absolute;
    top: 15%;
    height: 300px;
    width: 500px; */
}

#trending{
    height: 350px;
    /* max-height: 40%; */
    overflow: scroll;
}

.news{
    height: 40%;
    overflow: scroll;
}

#map {
    height: auto;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
    /* padding: 15px; */
    overflow: scroll;
   }

.title-subtext {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

#infographic {
    width: 100%;
    height: 200px;
    float: center;
    padding: 15px;
}

#getinvolved {
    text-align: center;
    margin-left:calc(100% - 60%);
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
    padding: 3px;
}

#trending-text {
    text-align: center;
    margin: 5px;
}

#donate-bkg {
    background-color: #444444;
}

#footer-text {
    text-align: center;
    padding: 10px;
}

.cardimage{
    height: 50px;
    width: 50px
}


/* Responsive youtube player  */

h1 {
    text-align: center;
    color: white;
}

#about-title {
    background-color: black;
}

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }