.nav-link {
    margin: 3px;
}

.dropdown-toggle{
    margin: 3px;
}

#search-param {
    margin: 3px;
}

.btn-outline-success {
    margin: 3px;
}

/* div {
    border-style: dashed;
    border-color: red;
    border-width: 1px;
} */

.donate-image-rc {
    height: 100px;
    width: 300px;
    margin: 3px;
}

.donate-image-sp {
    height: 125px;
    width:  300px;
    margin: 3px;
}

body {
    background-color: darkgray;
}

.container {
    background-color: white;
}

nav {
    float: right;
}

#title-text {
    color: #ffffff;
    text-align: center;
}

#title-bkg {
    background-color: #444444;
    padding: 10px 0px 5px;
}

#trending-holder {
    border-right: 2px dotted gray;
}

footer {
    border-top: 5px solid #444444;
}

footer>.row>.col-4 {
    padding: 10px;
}

#mapsample {
    height: auto;
    width: 100%;
}

#infographic {
    position: absolute;
    top: 15%;
    height: 300px;
    width: 500px;
    
}